<template>
  <div class="container">
    <h2>Vuex</h2>
    <form @submit.prevent="agregarTarea(texto)">
      <input type="text" class="form-control mb-2" v-model="texto">
      <b-button type="submit">Agregar</b-button>
    </form>
    <ul class="mt-2">
      <li v-for="tarea in tareas" :key="tarea.id">
        {{ tarea.id }} - {{ tarea.nombre }}
        <b-button class="btn-sm" variant="primary" :to="`/vuex/${tarea.id}`">Editar</b-button>
        <b-button class="btn-sm" variant="danger" @click="eliminarTarea(tarea)">Eliminar</b-button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  // fetch ({ store }) {
  //   return db.collection('tareas').get()
  //     .then(data => {
  //       const tareas = []
  //       data.forEach(element => {
  //         tareas.push(element.data())
  //       })
  //       return store.commit('setTareas', tareas)
  //     })
  //     .catch(function (error) {
  //       console.log("Error: ", error);
  //     })
  // }
  data () {
    return {
      texto: ''
    }
  },
  computed: {
    ...mapState(['tareas'])
  },
  methods: {
    ...mapActions(['agregarTarea', 'eliminarTarea'])
  }
}
</script>
